# Checking and Cleaning Data

Step 1: Loading Libraries

Step 2: Loading Data

Step 3: Data Check

Step 4: Data Cleaning

Step 5: Saving the Data

## Step 1: Loading Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## Step 2: Loading Data

In [2]:
# Setting name for data
path = r'C:\Users\gav\Documents\Career Foundry Data Analytics\Section 6 - Advanced Analytics & Dashboard Design\Project Docs'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Raw Data.csv'))

In [4]:
# Checking the data
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Getting some stats
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

## Step 3: Data Check

In [6]:
# First, let's get a sense of the Nulls
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [7]:
# Size of the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [8]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

Note: To complete project goals we need to 1.Determine consumer purchasing of games by genre, 2. Determine genre popularity . To do this we need the name, platform (to differentiate titles with similar names), year of release, genre, publisher, sales data, critic score, user score. The rest can be dropped.

## Step 4: Data Cleaning

In [9]:
df = df.drop(columns = ['Critic_Count', 'User_Count', 'Developer', 'Rating'])

When it comes to the Nulls, although we are looking to determine popularity of games from specific genres, it may actually make sense to leave the null values in the df for now. If there weren't so many I would do some research on my own to determine their scores.

First I wanted to look into the user scores to see why it is categorized as an object.

In [10]:
df['User_Score'].value_counts(dropna = False)

NaN    6704
tbd    2425
7.8     324
8       290
8.2     282
       ...
1.1       2
1.9       2
9.6       2
0         1
9.7       1
Name: User_Score, Length: 97, dtype: int64

Due to the 'tbd' input the column cannot become an integer or float column, so let's look into these games and see if there is a pattern.

In [11]:
df_tbd = df[df['User_Score']== 'tbd']

In [12]:
# Let's take a look
df_tbd.head(50)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score
119,Zumba Fitness,Wii,2010.0,Sports,505 Games,3.45,2.59,0.00,0.66,6.71,NaN,tbd
301,Namco Museum: 50th Anniversary,PS2,2005.0,Misc,Namco Bandai Games,2.08,1.35,0.00,0.54,3.98,61.0,tbd
520,Zumba Fitness 2,Wii,2011.0,Sports,Majesco Entertainment,1.51,1.03,0.00,0.27,2.81,NaN,tbd
645,uDraw Studio,Wii,2010.0,Misc,THQ,1.65,0.57,0.00,0.20,2.42,71.0,tbd
657,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,Konami Digital Entertainment,2.15,0.18,0.00,0.07,2.39,73.0,tbd
718,Just Dance Kids,Wii,2010.0,Misc,Ubisoft,1.52,0.54,0.00,0.18,2.24,NaN,tbd
726,Dance Dance Revolution X2,PS2,2009.0,Simulation,Konami Digital Entertainment,1.09,0.85,0.00,0.28,2.23,NaN,tbd
821,The Incredibles,GBA,2004.0,Action,THQ,1.15,0.77,0.04,0.10,2.06,55.0,tbd
881,Who wants to be a millionaire,PC,1999.0,Misc,Disney Interactive Studios,1.94,0.00,0.00,0.00,1.94,NaN,tbd
1047,Tetris Worlds,GBA,2001.0,Puzzle,THQ,1.25,0.39,0.00,0.06,1.71,65.0,tbd
1048,Imagine: Teacher,DS,2008.0,Simulation,Ubisoft,0.70,0.82,0.00,0.19,1.71,NaN,tbd
1069,Personal Trainer: Math,DS,2007.0,Puzzle,Nintendo,0.48,1.12,0.00,0.08,1.69,63.0,tbd
1070,Game Party 3,Wii,2009.0,Puzzle,Warner Bros. Interactive Entertainment,1.40,0.16,0.00,0.12,1.68,37.0,tbd
1089,"Monsters, Inc.",GBA,2001.0,Adventure,THQ,0.59,0.95,0.03,0.10,1.67,NaN,tbd
1151,SpongeBob's Atlantis SquarePantis,DS,2007.0,Action,THQ,1.49,0.00,0.00,0.11,1.60,64.0,tbd
1199,MySims Kingdom,DS,2008.0,Simulation,Electronic Arts,0.80,0.59,0.01,0.16,1.55,58.0,tbd
1210,Moshi Monsters: Moshling Zoo,DS,2011.0,Misc,Activision,0.37,0.96,0.00,0.21,1.54,NaN,tbd
1284,Disney Sing It: Pop Hits,Wii,2009.0,Misc,Disney Interactive Studios,1.07,0.28,0.00,0.13,1.48,NaN,tbd
1291,Imagine: Master Chef,DS,2007.0,Simulation,Ubisoft,0.39,0.91,0.00,0.17,1.47,NaN,tbd
1292,Disney Princess,GBA,2003.0,Platform,THQ,1.04,0.37,0.00,0.06,1.47,NaN,tbd
1298,The SpongeBob SquarePants Movie,GBA,2004.0,Platform,THQ,1.02,0.38,0.00,0.06,1.46,NaN,tbd
1300,Midway Arcade Treasures,PS2,2003.0,Misc,Midway Games,0.72,0.56,0.00,0.19,1.46,76.0,tbd
1309,Wall-E,DS,2008.0,Platform,THQ,0.46,0.82,0.00,0.17,1.46,54.0,tbd
1341,Disney Princess: Magical Jewels,DS,2007.0,Adventure,Disney Interactive Studios,1.12,0.19,0.00,0.11,1.43,NaN,tbd
1367,Hello Kitty Party,DS,2007.0,Misc,Rising Star Games,0.78,0.51,0.00,0.12,1.41,NaN,tbd
1423,SingStar Abba,PS2,2008.0,Misc,Sony Computer Entertainment,0.23,0.04,0.00,1.09,1.36,64.0,tbd
1487,Petz Wild Animals: Dolphinz,DS,2007.0,Simulation,Ubisoft,0.71,0.48,0.00,0.13,1.32,NaN,tbd
1541,Imagine: Wedding Designer,DS,2008.0,Simulation,Ubisoft,0.55,0.59,0.00,0.14,1.28,NaN,tbd
1560,Mystery Case Files: MillionHeir,DS,2008.0,Adventure,Nintendo,0.75,0.39,0.00,0.12,1.27,65.0,tbd
1700,Disney Sing It,Wii,2008.0,Misc,Disney Interactive Studios,0.77,0.31,0.00,0.11,1.19,NaN,tbd
1707,LEGO Indiana Jones 2: The Adventure Continues,DS,2009.0,Action,Activision,0.65,0.42,0.00,0.11,1.18,59.0,tbd
1778,Action Bass,PS,2000.0,Action,Take-Two Interactive,0.64,0.43,0.00,0.07,1.14,51.0,tbd
1803,EA Sports Active: More Workouts,Wii,2009.0,Sports,Electronic Arts,0.76,0.27,0.00,0.10,1.13,80.0,tbd
1862,NBA Live 2001,PS2,2001.0,Sports,Electronic Arts,0.52,0.40,0.04,0.13,1.10,74.0,tbd
1863,SingStar Legends,PS2,2006.0,Misc,Sony Computer Entertainment,0.12,0.75,0.00,0.23,1.10,76.0,tbd
1871,Petz Dogz 2,DS,2007.0,Simulation,Ubisoft,0.46,0.51,0.00,0.12,1.10,NaN,tbd
1888,LEGO Star Wars III: The Clone Wars,DS,2011.0,Action,LucasArts,0.61,0.38,0.00,0.10,1.09,66.0,tbd
1894,Imagine: Babysitters,DS,2008.0,Simulation,Ubisoft,0.63,0.35,0.00,0.10,1.08,NaN,tbd
1896,Fisherman's Bass Club,PS2,2002.0,Sports,Agetec,0.53,0.41,0.00,0.14,1.08,NaN,tbd
1917,Imagine: Fashion Designer New York,DS,2008.0,Simulation,Ubisoft,0.65,0.32,0.00,0.10,1.07,NaN,tbd
1929,MySims Agents,DS,2009.0,Adventure,Electronic Arts,0.54,0.42,0.00,0.11,1.07,60.0,tbd
1969,Dora the Explorer: Dora Saves the Mermaids,DS,2007.0,Platform,Take-Two Interactive,0.97,0.01,0.00,0.07,1.05,44.0,tbd
1988,ATV: Quad Power Racing,PS,2000.0,Racing,Acclaim Entertainment,0.58,0.39,0.00,0.07,1.04,42.0,tbd
2017,Junior Brain Trainer,DS,2008.0,Misc,GSP,0.23,0.71,0.00,0.09,1.03,NaN,tbd
2020,ZhuZhu Pets,DS,2010.0,Simulation,Activision,0.67,0.26,0.00,0.09,1.02,NaN,tbd
2043,Disney Fairies: Tinker Bell and the Lost Treasure,DS,2009.0,Adventure,Disney Interactive Studios,0.56,0.34,0.02,0.09,1.01,NaN,tbd
2071,NFL GameDay 2001,PS,2000.0,Sports,Sony Computer Entertainment,0.56,0.38,0.00,0.07,1.00,73.0,tbd
2092,Cars: Race-O-Rama,Wii,2009.0,Racing,THQ,0.61,0.29,0.00,0.09,0.99,58.0,tbd
2093,Puzzler Collection,DS,2008.0,Puzzle,Ubisoft,0.16,0.78,0.00,0.04,0.99,71.0,tbd
2096,Littlest Pet Shop: Winter,DS,2008.0,Simulation,Electronic Arts,0.58,0.31,0.00,0.10,0.98,NaN,tbd

In [13]:
# For a statistical look
df_tbd.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score
count,2377.000000,2425.000000,2425.000000,2425.000000,2425.000000,2425.000000,1082.000000
mean,2007.455616,0.126111,0.043501,0.002726,0.015864,0.188676,60.711645
std,3.492992,0.180573,0.111392,0.026130,0.039148,0.293478,11.193035
min,1997.000000,0.000000,0.000000,0.000000,0.000000,0.010000,23.000000
25%,2005.000000,0.030000,0.000000,0.000000,0.000000,0.050000,54.000000
50%,2008.000000,0.080000,0.010000,0.000000,0.010000,0.110000,62.000000
75%,2010.000000,0.150000,0.040000,0.000000,0.020000,0.220000,69.000000
max,2020.000000,3.450000,2.590000,0.860000,1.090000,6.710000,90.000000

Looking through the tbd data it appears to be largely E rated games and have relatively low sales. As such, I think it would not alter the data too much to change these inputs to Nulls.

In [14]:
# Changing the tbd data
df = df.replace({'tbd':'NaN'})

In [15]:
# Changing data type for User Rating
df['User_Score'] = df['User_Score'].astype('float64')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  User_Score       7590 non-null   float64
dtypes: float64(8), object(4)
memory usage: 1.5+ MB

In [17]:
# Dropping Null values in the Name clumn
df.dropna(subset = ['Name'], inplace = True)

In [18]:
df.isnull().sum()

Name                  0
Platform              0
Year_of_Release     269
Genre                 0
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8580
User_Score         9127
dtype: int64

In [19]:
# Checking for duplicates
df_dup = df[df.duplicated()]

In [20]:
df_dup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             0 non-null      object
 1   Platform         0 non-null      object
 2   Year_of_Release  0 non-null      float64
 3   Genre            0 non-null      object
 4   Publisher        0 non-null      object
 5   NA_Sales         0 non-null      float64
 6   EU_Sales         0 non-null      float64
 7   JP_Sales         0 non-null      float64
 8   Other_Sales      0 non-null      float64
 9   Global_Sales     0 non-null      float64
 10  Critic_Score     0 non-null      float64
 11  User_Score       0 non-null      float64
dtypes: float64(8), object(4)
memory usage: 0.0+ bytes

Looks like there are no duplicates, we are good to proceed!

Before advancing it would be wise to alter some of the columns with objects to strings:

In [21]:
# Altering data types
df['Name'] = df['Name'].astype(pd.StringDtype())

In [22]:
df['Platform'] = df['Platform'].astype(pd.StringDtype())

In [23]:
df['Genre'] = df['Genre'].astype(pd.StringDtype())

In [24]:
df['Publisher'] = df['Publisher'].astype(pd.StringDtype())

In [25]:
df.dtypes

Name                string
Platform            string
Year_of_Release    float64
Genre               string
Publisher           string
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
User_Score         float64
dtype: object

In [27]:
# Altering the values in Genre to be numerical
df['Genre'].value_counts(dropna = False)

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: Int64

In [28]:
df.loc[df['Genre'] == 'Action', 'Genre_Code'] = 1

In [29]:
df.loc[df['Genre'] == 'Sports', 'Genre_Code'] = 2

In [30]:
df.loc[df['Genre'] == 'Misc', 'Genre_Code'] = 3

In [31]:
df.loc[df['Genre'] == 'Role-Playing', 'Genre_Code'] = 4

In [32]:
df.loc[df['Genre'] == 'Shooter', 'Genre_Code'] = 5

In [33]:
df.loc[df['Genre'] == 'Adventure', 'Genre_Code'] = 6

In [34]:
df.loc[df['Genre'] == 'Racing', 'Genre_Code'] = 7

In [35]:
df.loc[df['Genre'] == 'Platform', 'Genre_Code'] = 8

In [36]:
df.loc[df['Genre'] == 'Simulation', 'Genre_Code'] = 9

In [37]:
df.loc[df['Genre'] == 'Fighting', 'Genre_Code'] = 10

In [38]:
df.loc[df['Genre'] == 'Strategy', 'Genre_Code'] = 11

In [39]:
df.loc[df['Genre'] == 'Puzzle', 'Genre_Code'] = 12

In [41]:
# To check
df['Genre_Code'].value_counts(dropna = False)

1.0     3370
2.0     2348
3.0     1750
4.0     1500
5.0     1323
6.0     1303
7.0     1249
8.0      888
9.0      874
10.0     849
11.0     683
12.0     580
Name: Genre_Code, dtype: int64

## Step 5: Saving the Data

In [42]:
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_data.csv'))